tqdm>=4.51.0
crepe>=0.0.11
librosa>=0.8.0
matplotlib>=3.4.2
note_seq>=0.0.3
numpy>=1.20.3
pandas>=1.2.4
pretty_midi>=0.2.9
resampy>=0.2.2
scikit_learn>=0.24.2
scipy>=1.6.3
seaborn>=0.11.1
sounddevice>=0.4.1
soundfile>=0.10.3.post1
torch>=1.8.1
torchvision>=0.9.1
